In [1]:
import numpy as np
from datascience import *
%matplotlib inline

## Tables Review + Quick Check

0-10 mins

## Sort

10-20 mins

In [2]:
# This table can be found online: https://www.statcrunch.com/app/index.php?dataid=1843341
nba = Table.read_table('http://inferentialthinking.com/notebooks/nba_salaries.csv')
nba

PLAYER           | POSITION | TEAM          | '15-'16 SALARY
Paul Millsap     | PF       | Atlanta Hawks | 18.6717
Al Horford       | C        | Atlanta Hawks | 12
Tiago Splitter   | C        | Atlanta Hawks | 9.75625
Jeff Teague      | PG       | Atlanta Hawks | 8
Kyle Korver      | SG       | Atlanta Hawks | 5.74648
Thabo Sefolosha  | SF       | Atlanta Hawks | 4
Mike Scott       | PF       | Atlanta Hawks | 3.33333
Kent Bazemore    | SF       | Atlanta Hawks | 2
Dennis Schroder  | PG       | Atlanta Hawks | 1.7634
Tim Hardaway Jr. | SG       | Atlanta Hawks | 1.30452
... (407 rows omitted)

In [3]:
nba.show(3)

In [4]:
sum(nba.column(3))

2116.1976390000013

In [5]:
max(nba.column(3))

25.0

So how do I find the player who made the most money?

In [6]:
nba.sort('PLAYER').show(5)

In [7]:
nba.sort(3).show(5)

In [8]:
nba.sort(3, descending=True)

PLAYER          | POSITION | TEAM                  | '15-'16 SALARY
Kobe Bryant     | SF       | Los Angeles Lakers    | 25
Joe Johnson     | SF       | Brooklyn Nets         | 24.8949
LeBron James    | SF       | Cleveland Cavaliers   | 22.9705
Carmelo Anthony | SF       | New York Knicks       | 22.875
Dwight Howard   | C        | Houston Rockets       | 22.3594
Chris Bosh      | PF       | Miami Heat            | 22.1927
Chris Paul      | PG       | Los Angeles Clippers  | 21.4687
Kevin Durant    | SF       | Oklahoma City Thunder | 20.1586
Derrick Rose    | PG       | Chicago Bulls         | 20.0931
Dwyane Wade     | SG       | Miami Heat            | 20
... (407 rows omitted)

In [9]:
nba.sort(3, descending=True).sort(1)

PLAYER           | POSITION | TEAM                  | '15-'16 SALARY
Dwight Howard    | C        | Houston Rockets       | 22.3594
Marc Gasol       | C        | Memphis Grizzlies     | 19.688
Enes Kanter      | C        | Oklahoma City Thunder | 16.4075
DeMarcus Cousins | C        | Sacramento Kings      | 15.852
Roy Hibbert      | C        | Los Angeles Lakers    | 15.5922
Tristan Thompson | C        | Cleveland Cavaliers   | 14.2609
Andrew Bogut     | C        | Golden State Warriors | 13.8
Al Jefferson     | C        | Charlotte Hornets     | 13.5
Joakim Noah      | C        | Chicago Bulls         | 13.4
Nene Hilario     | C        | Washington Wizards    | 13
... (407 rows omitted)

In [ ]:
help(nba.sort)

In [37]:
nba.sort(3, True).sort(1, distinct=True)

PLAYER        | POSITION | TEAM                 | '15-'16 SALARY
Dwight Howard | C        | Houston Rockets      | 22.3594
Chris Bosh    | PF       | Miami Heat           | 22.1927
Chris Paul    | PG       | Los Angeles Clippers | 21.4687
Kobe Bryant   | SF       | Los Angeles Lakers   | 25
Dwyane Wade   | SG       | Miami Heat           | 20

Point is: you should know what sorting is useful for. Then, when the time comes you can just look up the syntax of sorting.

Discussion question: What is wrong with ths following line?

In [ ]:
nba.sort(3, True).column('PLAYER').sort(0, True)

## Lists

20-25 mins

Arrays all need the same type of thing.

In [12]:
make_array(2, 3.0)

array([ 2.,  3.])

In [13]:
make_array(2, 3.0).item(0)

2.0

In [14]:
make_array(2, 'three')

array(['2', 'three'],
      dtype='<U21')

In [15]:
make_array(2, 'three').item(0)

'2'

Lists don't care.

In [16]:
[2, 'three']

[2, 'three']

In [17]:
type([2, 'three'])

list

In [18]:
row = ['Sam Lau', 'PG', 'Berkeley Data Scientists', 0.0]
nba.with_row(row).sort(3)

PLAYER                 | POSITION | TEAM                     | '15-'16 SALARY
Sam Lau                | PG       | Berkeley Data Scientists | 0
Thanasis Antetokounmpo | SF       | New York Knicks          | 0.030888
Jordan McRae           | SG       | Phoenix Suns             | 0.049709
Cory Jefferson         | PF       | Phoenix Suns             | 0.049709
Elliot Williams        | SG       | Memphis Grizzlies        | 0.055722
Orlando Johnson        | SG       | Phoenix Suns             | 0.055722
Phil Pressey           | PG       | Phoenix Suns             | 0.055722
Keith Appling          | PG       | Orlando Magic            | 0.061776
Sean Kilpatrick        | SG       | Denver Nuggets           | 0.099418
Erick Green            | PG       | Utah Jazz                | 0.099418
... (408 rows omitted)

## Take

25-30 mins

In [21]:
nba.take(0)

PLAYER       | POSITION | TEAM          | '15-'16 SALARY
Paul Millsap | PF       | Atlanta Hawks | 18.6717

In [23]:
nba.take(make_array(0, 1, 2))

PLAYER         | POSITION | TEAM          | '15-'16 SALARY
Paul Millsap   | PF       | Atlanta Hawks | 18.6717
Al Horford     | C        | Atlanta Hawks | 12
Tiago Splitter | C        | Atlanta Hawks | 9.75625

In [24]:
nba.sort(3, descending=True).take(make_array(0, 1, 2))

PLAYER       | POSITION | TEAM                | '15-'16 SALARY
Kobe Bryant  | SF       | Los Angeles Lakers  | 25
Joe Johnson  | SF       | Brooklyn Nets       | 24.8949
LeBron James | SF       | Cleveland Cavaliers | 22.9705

In [43]:
rich = nba.sort(3, descending=True).take(make_array(0, 1, 2))
rich.sort(2)

PLAYER       | POSITION | TEAM                | '15-'16 SALARY
Joe Johnson  | SF       | Brooklyn Nets       | 24.8949
LeBron James | SF       | Cleveland Cavaliers | 22.9705
Kobe Bryant  | SF       | Los Angeles Lakers  | 25

In [ ]:
nba

In [ ]:
np.arange(8, 15)

In [ ]:
nba.take(np.arange(8, 15))

## Where

In [44]:
salary = 3
nba.sort(salary)

PLAYER                 | POSITION | TEAM                 | '15-'16 SALARY
Thanasis Antetokounmpo | SF       | New York Knicks      | 0.030888
Jordan McRae           | SG       | Phoenix Suns         | 0.049709
Cory Jefferson         | PF       | Phoenix Suns         | 0.049709
Elliot Williams        | SG       | Memphis Grizzlies    | 0.055722
Orlando Johnson        | SG       | Phoenix Suns         | 0.055722
Phil Pressey           | PG       | Phoenix Suns         | 0.055722
Keith Appling          | PG       | Orlando Magic        | 0.061776
Sean Kilpatrick        | SG       | Denver Nuggets       | 0.099418
Erick Green            | PG       | Utah Jazz            | 0.099418
Jeff Ayres             | PF       | Los Angeles Clippers | 0.111444
... (407 rows omitted)

In [45]:
nba.where(salary, are.above(10))

PLAYER         | POSITION | TEAM              | '15-'16 SALARY
Paul Millsap   | PF       | Atlanta Hawks     | 18.6717
Al Horford     | C        | Atlanta Hawks     | 12
Joe Johnson    | SF       | Brooklyn Nets     | 24.8949
Thaddeus Young | PF       | Brooklyn Nets     | 11.236
Al Jefferson   | C        | Charlotte Hornets | 13.5
Nicolas Batum  | SG       | Charlotte Hornets | 13.1253
Kemba Walker   | PG       | Charlotte Hornets | 12
Derrick Rose   | PG       | Chicago Bulls     | 20.0931
Jimmy Butler   | SG       | Chicago Bulls     | 16.4075
Joakim Noah    | C        | Chicago Bulls     | 13.4
... (59 rows omitted)

In [ ]:
nba.where(salary, are.above(10)).sort(salary)

In [ ]:
nba.where('TEAM', 'Golden State Warriors')

In [ ]:
nba.where('TEAM', are.containing('Los Angeles')).sort(salary)

In [ ]:
nba.where(salary, are.between(3, 4))

In [ ]:
nba.where('PLAYER', are.equal_to('Stephen Curry'))